*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("./images/Background\ Darkened.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: auto; */
    height: 100vh;
    color: rgb(245, 249, 252);
    
}
#form-Container{
    display: flex;
    flex-direction: column;
    width: 45vw;
    /* background-color: rgba(209, 197, 234, 0.443); */
    justify-content: center;
    align-items: center;
    padding: 3em;
    margin-top: 8px;
    /* background-image: url("splash.jpeg"); */
    background-size: 100% 100%;
    /* border: 2px solid rgb(20, 3, 1); */
    /* box-shadow: 6px 6px 5px rgb(68, 61, 61); */

}
#form-body{
    width: 70%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto ;

}
h2{
    color: #eee8e4;
}
.input-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 2vw 8px;
}
label{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    /* text-shadow: 4px 4px rgb(39, 2, 75); */
}
input{
    width: 14vw;
    height: 3.5vh;
    margin: 0.5em ;
    margin-left: 0;
    border:2px solid black;
    border-radius: 5px;
    font-size: 17px;

}
#option-box{
    display: flex;
    width: 170%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#in-rd{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}
input[type="submit"]{
    width: 18vw;
    margin: 2px;
    background-color: #FF5E0C;
    color:#eee8e4;
   font-family: cursive;

}
input[type="radio"]{
    width: 10vw;
}
/* h1{
    color:rgb(232, 230, 219);
} */
#hd-box{
    width: 92%;
    height: 15vh;
    opacity: 1.5;
    background-image: url("./images/Banner\ \(WiE\ Logo\ Updated\).png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 15px;
}
.wrap{
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.s{
    width: 75px;
    height: 45px;
    /* font-family: ; */
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0,0,0,0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none; 
}
.s:hover{
    background-color: #FF5E0C; 
    box-shadow: 0px 15px 20px rgba(255,94,12,0.4);
    color: #fff;
    transform: translateY(-7px);

    
}

/* responsive */
/* mobiles */
@media  screen and (max-width:500px) {
    main{
        height: auto;
    }
    #form-Container{
        width: 80vw;
        margin-top: 15px;
    }
    #form-body{
        grid-template-columns: auto;
        justify-items: center;
        align-items: center;
        /* margin-top: 15px; */
    }
    .input-box{
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
    input{
        width: 45vw;
        margin: 8px;
    }
    input[type="submit"]{
        width: 40vw;
        margin: 10px;
    }
    label{
        text-align: center;
    }
    #hd-box{
        width: 85vw;
        margin: auto;
        margin-bottom: 20px;
    }
    h2{
        font-size: 160%;
        text-align: center;
    }
}
@media screen and (min-width:500px) and (max-width:900px) {
    #form-Container{
        width: 75vw;
        margin-top: 10px;
    }
    #form-body{
        width: 108%;
        justify-content: center;
        margin-top: 8px;
    }
    .input-box{
        justify-content: center;
        align-items: center;
        margin: 15px;
    }
    input{
        width: 35vw;
        margin: 15px;
    }
    input[type="submit"]{
        width: 35vw;
        margin: 5px;
    }
    label{
        text-align: center;
        font-size: 1.1rem;
    }
}